@charset "UTF-8";

/******** SECTION GENERAL STYLES FOR THIS PROJECT. ********/

/* BLOCK: BASIC ATRIBUTES RELATED TO DOM, BODY, AND ROOT SCOPE.  */
* {
	margin: 8px;
	padding: 2px;
	
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	
	text-rendering: optimizeLegibility;
}

body {
	margin: 0px;
	padding: 0px;
	background: var(--mycolor);

	font-family: 'Esteban', serif;
	font-weight: var(--f-w-normal);
	--font-size: var(--f-s-normal);
	font-size: var(--font-size);
	line-height: calc(var(--font-size) * 1.5); 
	color: var(--mycountercolor);	
} 

/* BLOCK: TAGS, CLASSES AND IDs FOR GENERAL PORPOSE.  */

/* Headers for general porpouse; */
h1,h2,h3,h4,h5,h6 {
	display: block;
	margin: 0px;
	font-weight: var(--f-w-bold);	
    font-family: 'Montserrat', sans-serif;
    color: var(--mycountercolor);
}
h1 {
	--font-size: var(--f-s-biggest);
	font-size: var(--font-size);
	line-height: calc(var(--font-size) * 1.33);
}
h2 {
	--font-size: var(--f-s-alotbigger);
	font-size: var(--font-size);
	line-height: calc(var(--font-size) * 1.33);
}
h3 {
	--font-size: var(--f-s-abitbigger);
	font-size: var(--font-size);
	line-height: calc(var(--font-size) * 1.33);
}
h4 {
	--font-size: var(--f-s-big);
	font-size: var(--font-size);
	line-height: calc(var(--font-size) * 1.33);
}
h5 {
	--font-size: var(--f-s-normal);
	font-size: var(--font-size);
	line-height: calc(var(--font-size) * 1.33);
}
h6 {
	--font-size: var(--f-s-small);
	font-size: var(--font-size);
	line-height: calc(var(--font-size) * 1.33);
}

/* Links for general porpouse. */
a {
	outline: none;
	text-decoration: none;
}
a:hover {
	outline: none;
	text-decoration: underline;
}
a:focus {
	outline: none;
	text-decoration: none;
}
a:active {
	outline: none;
	text-decoration: none;
}
a:visited {
	outline: none;
	text-decoration: none;
}

.layoutfilecontent {
	display: inline-block;
	margin: 2px;
	padding: 2px;
	font-weight: var(--f-w-normal);	
	font-family: 'Inconsolata', monospace;
	color: var(--dgray);
	--font-size: var(--f-s-small);
	font-size: var(--font-size);
	line-height: calc(var(--font-size) * 1.25);
}
.layoutfilecontent {
	border: 2px inset #eee;
}
.layoutfileinfo {
	display: inline-block;
	margin: 2px;
	padding: 2px;
	font-weight: var(--f-w-normal);	
	font-family: 'Inconsolata', monospace;
	color: var(--dgray);
	--font-size: var(--f-s-small);
	font-size: var(--font-size);
	line-height: calc(var(--font-size) * 1.25);
}
/*EOF.ROPIMASI.*/